<div id="job-seeker-profile">

	<div class="reg-tab-holder">
		<div class="reg-tab-holder-new tab-act">
			<div class="reg-left-tab-holder"></div>
			<div class="reg-mid-tab-holder">My Account</div>
			<div class="reg-right-tab-holder"></div>
		</div>
	</div>

	<div class="tabs_wrapper" id="profile-top-links">
		<%= render :partial => "/profiles/job_seeker/top_links" %>
	</div>

	<div id="profile-contents">
		<%= render :partial => "/profiles/job_seeker/basic_information" %>
	</div>
</div>

<script type="text/javascript">

		$("#next-link").click(function(){
			$.post($("form#profile-form").attr("action"), $("form#profile-form").serialize(), function(response){
			  if(response.seccess == true){
				  $("#profile-contents").html(response.html);
	      }
			  else{
			    $("#form-errors").html(response.html);
			  }
	    }, "json");
			return false;
		});
</script>