<div id="job-seeker-profile">

	<div class="reg-tab-holder">
		<div class="reg-tab-holder-new tab-act">
			<div class="reg-left-tab-holder"></div>
			<div class="reg-mid-tab-holder">My Account</div>
			<div class="reg-right-tab-holder"></div>
		</div>
	</div>

	<div class="tabs_wrapper" id="profile-top-links">
		<%= render :partial => "/profiles/job_seeker/top_links" %>
	</div>

	<div id="profile-contents">
		<%= render :partial => "/profiles/job_seeker/basic_information" %>
	</div>
</div>