<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <% if current_user.job_seeker? %>
      <%= render :partial => "job_seeker_form" %>
  <% elsif current_user.employer? %>
      <%= render :partial => "employer_form" %>
  <% end %>
</div>
