<div class="w100">
  <div class="search-results"><%= t('search.search_results') %></div>



  <div class="search-line"></div>
</div>
<div id="result-list">

  <%= render :partial => "jobs/list" %>

</div>


<script type="text/javascript">
    function change_order() {
        if ($("#classification_result option:selected").text() == "Asc") {


            url = "/search/sort_result_asc?sort=" + 'Asc';
            $.ajax({
                context:this,
                url:url,
                type:"GET",
                data:$(this).serialize(),
                dataType:"json",
                success:function (response) {
                    $(".content-holder").html(response.html);
                }
            });
            return false;
        }
        else {
            url = "/search/sort_result?sort=" + 'Desc';
            $.ajax({
                context:this,
                url:url,
                type:"GET",
                data:$(this).serialize(),
                dataType:"json",
                success:function (response) {
                    $(".content-holder").html(response.html);
                }
            });
            return false;

        }
    }
</script>