<div class="w100">
	<div class="search-results">Search Results</div>
	<div class="data-post-div"></div>
	<ul class="data-post-hold">
		<li><a href="#">select job</a></li>
		<li><a href="#">select job</a></li>
		<li><a href="#">select job</a></li>
	</ul>
	<div class="search-line"></div>
</div>
<div  id="result-list">
	<%= render :partial => "jobs/list" %>
</div>


