<script language="JavaScript">
    $("a.sub-category-link").click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $(".content-holder").html(response.html);
            }
        });
        return false;
    });
</script>
<div class="gray-holder">
  <ul class="inner-links">
    <% if @sub_categories.present? %>
        <% @sub_categories.each do |sub| %>
            <li><%= link_to sub.name, jobs_list_search_index_path(:id => sub.id), :class => "sub-category-link" %></li>
        <% end %>
    <% elsif @jobs.present? %>
        <% @jobs.each do |job| %>
            <li><%= link_to job.name, details_jobs_path(:id => job.id), :class => "sub-category-link" %></li>
        <% end %>
    <% else %>
        <li><a><%= t('header.search_category') %>.</a></li>
    <% end %>
  </ul>
  <div class="gray-bot-bg"></div>
</div>
