<h1> Creating News</h1>
<%= form_for @news, :url => { :action => 'create' }, :html => { :id => 'answer_form', } do |f| %>
    <%= render :partial => "form" , :locals => {:f => f}%>
    <div class="field" style="float:left;">
      <%= f.submit "Save" %>
    </div>

<% end %>