<h1>News</h1>
<%#= link_to 'New Category', new_admin_category_path %><br />
<table>
  <tr>
    <th>Title</th>
    <th> Approve News</th>
    <th>Actions</th>
  </tr>

  <% unless @new.blank? %>
      <tr>
        <th> <%= @new.title %></th>
        <td><%= check_box_tag "news_status", @new.id, @new.is_approved? ? true : false, :onclick => "change_status('#{@new.id}',this)" %></td>
        <td>
          <%= link_to 'Edit', edit_admin_news_path(@new) %> |
          <%= link_to 'Back', admin_news_index_path %>
        </td>
      </tr>
  <% end %>
</table>


<script type="text/javascript">
    function change_status(news_id, obj) {
        var status = $(obj).is(":checked");
        url = "/admin/news/approve_news?id=" + news_id + "&status=" + status;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"html",
            success:function (response) {
                alert("Status has Changed");
            }
        });
        return false;


    }
</script>