<%= form_tag "/theses/search_thesis", :id => "thesis_search-form" do %>
   <div class="search-text">
    <%= text_field_tag "search_term" %>
    <div class="search-btn">
      <%= link_to "Search", "javascript:void(0)", :id => "rg_thesis_search_button" %>
    </div>
    </div>
<% end %>

<script type="text/javascript">

    $("#rg_thesis_search_button").click(function() {
        $.post($("form#thesis_search-form").attr("action"), $("form#thesis_search-form").serialize(), (function(response) {
            return $(".content-holder").html(response.html);
        }), "json");
        return false;
    });
</script>




