<div class="mid-cont-holder">
  <% unless @thesis.blank? %>

      <div class="w100 mtop20">
        <div class="job-cont-hold">
          <div class="accountants"><%= @thesis.name %> </div>
          <div class="result-text">  <%= @thesis.description %></div>
          <div class="date-text"> <%= @thesis.created_at.strftime('%m/%d/%Y') %>
          </div>
        </div>
      </div>
  <% end %>

</div>