<div class="join-request">
  <div class="w100">
    <div class="groups-heading-hold">

      <h1><%= @thesis.name %></h1>

      <p> <%= @thesis.created_at.strftime("%d-%m-%Y") %>  -

      </p>
    </div>
    <% if user_signed_in? %>
        <div class="join-group-hold"><%= link_to "Download Thesis" ,download_thesis_theses_path(:id => @thesis) %></div>
    <% end %>
  </div>

  <div class="group-details-hold">
      <div class="grpup-img-details-hold"><%= @thesis.description %>
    </div>
  </div>
</div>