<div class="content-holder">
  <div class="w100">
  <% @employer = current_user %>
  <div class="dashboard-content-left">
    <%= render :partial => "employer/employer", :locals => { :employer => @employer } %>
  </div>
  <div class="dashboard-content-right">
    <%= form_for @job, :url =>{ :action => 'create_job', :controller => 'jobs' }, :html =>{ :id => "job_form", :onsubmit =>true, :multipart => true } do |f| %>
        <%= render :partial => "job_form", :locals => { :f => f ,:employer => @employer } %>
        <div class="save-button">
          <%= f.submit "Save" %>
        </div>
    <% end %>
  </div>
</div>
</div>
