  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0dccb34198a7b3">

   </script>
<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
	<%= render :partial => "details" %>
 </div>