<div class="content-left-holder">
  <div class="shadow"></div>
  <div class="popup-hold">

    <div class="job-search-top-holder-two">Update Salary</div>
    <div class="job-search-mid-holder-two ">
      <%= form_tag('groups/update_salary', :id => 'set_salary_form') %>
      <div class="input-holder" style="width:59%;">
        <label>Enter the salary</label>
        <%= text_field_tag 'group_salary' %>
      </div>
      <%= hidden_field_tag :group_id, @group.id %>
      <%= hidden_field_tag :group_type, @group.group_type_id %>
      <div class="buttons_pop">
        <div id="application_job" class="update">Update</div>
        <div id="exit_job" class="exit" onclick="close_popup()">Exit</div>
      </div>
    </div>
    <div class="job-search-bot-holder-two"></div>
  </div>

</div>





<script type="text/javascript">

    $("#application_job").click(function() {
        $.post($("form#set_salary_form").attr("action"), $("form#set_salary_form").serialize(), (function(response) {
            close_popup();
           $("#group_div").html(response.html);

        }), "json");
        return false;
    });


    function close_popup() {
        $(".content-left-holder").hide();
    }

</script>