<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <div class="basic-info mtop10">
    <h1><span class="red">Groups</span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>

  <div class="w100">
    <div class="group-result">
           <%= render :partial => "first_group_details", :locals => { :group => @group } %>
    </div>
    <div class="post-right-cont-hold">
      <h3><span class="red">Group Index</span></h3>
      <% unless @groups.blank? %>
          <ul class="groups-link">
            <% @groups.each do |group| %>
                <li>
                  <div class="accountants"><%= link_to group.name, group_details_groups_path(:id => group.id), :class => "group-link" %></div>
                </li>
            <% end %>
          </ul>

      <% end %>
    </div>


  </div>
 </div>






