<div class="footer">
	<div class="wrapper">
		<div class="footer-cont">&copy; Copyright 2011 FuturCadre. All Rights Reserved. Terms &amp; <a href="#">Conditions</a> | <a href="#">Privacy Policy</a>
		</div>
	</div>
</div>