<div class="banner-holder">
	<div class="banner-left-holder"></div>
	<div class="banner-mid-holder">
		<div class="banner-left">
			<h1><%= t('home_title') %></h1>
			<h2><%= t('home_sub_title') %></h2>
			<p><%= t('home_description') %></p>
			<div class="post-resume">
			<!--	<div class="post-left"></div>  -->
			<!--	<div class="post-mid"><%#= t('button.post_resume') %></div>  -->
			<!--	<div class="post-right"></div>  -->
			</div>
		</div>
		<%= render :partial => "home/search_form" %>
	</div>
	<div class="banner-right-holder"></div>
</div>