<%= render :partial => "search_box" %>
<div class="content-holder">
	<div class="content-left-holder">
		<%= render :partial => "browse_jobs" %>
	</div>
  <div class="content-right-holder">
		<%= render :partial => "right_panal" %>
	</div>
</div>