<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1>Job</h1>

    <div class="btn-mid-holder">></div>
    <p><br/>
    </p>

    <h1>My<span class="red"> Jobs</span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @applied_jobs.blank? %>
        <p>Total Number of jobs applied <%= @applied_jobs.count %></p>
        <% @applied_jobs.each do |app_job| %>
            <div class="event-image">
              <%#= image_tag  %>
              <label>Job Name</label> <%= app_job.job.name %>

            </div>
            <div class="event-image">
              <%#= image_tag  %>
              <label>Job Applied </label> <%= app_job.created_at%>

            </div>
        <% end %>
        <%else%>
           <p><span>Currently No Applied Jobs!</span></p>
    <% end %>
  </div>
</div>