<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">


    <h1>My<span class="red"> Jobs</span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @applied_jobs.blank? %>
        <p>Total Number of jobs applied <%= @applied_jobs.count %></p>
        <table>
          <tr>
            <th> Job Name</th>
            <th> Applied at</th>
          </tr>
          <% @applied_jobs.each do |app_job| %>
              <tr>
                <td><%= link_to app_job.job.name, details_jobs_path(:id => app_job.id), :class => "job_description" %></td>
                <td><%= app_job.created_at.strftime('%m/%d/%Y') %></td>
              </tr>
          <% end %>
        </table>
    <% else %>
        <p><span>Currently No Applied Jobs!</span></p>
    <% end %>
  </div>
</div>

<script language="JavaScript">
    $("a.job_description").click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $(".content-holder").html(response.html);
            }
        });
        return false;
    });
</script>