<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Dear Members</h1>
New event is create by,
<%= @event.title %>.<br/>
</p>
</body>
</html>