<br/><br/>
Manager: <i><%=@manager %></i>
<br/>
Title: <i><%=@event.title %></i>
<br/><br/>
Click This link to approve the event
<a href="<%= "#{@protocol}#{@host}/groups/group_details?id=#{@group.id}&event_id=#{@event.id}" %>">
  Approve
</a>
