// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.adds-holder
 {
     margin-top:5px;
     margin-bottom:24px;
 }
.dashboard-info-image
{

}
.dashboard-content-right
 {
     width:696px;
      float:right;
 }
.dashboard-image
{
    background-color:#f1f1f1;
    height:117px;
    overflow:auto;
    margin-top:15px;
    width:278px;
    float:left;
 }
.dashboard-image img
{
     float:left;
     padding:10px;
}
.dashboard-image h1
 {
     color:#990000;
     font-size:24px;
      margin-top:20px;
 }
.dashboard-image p
 {
     color:#474747;
     font-size:12px;
 }
.dashboard-post-profile-btn
{
     margin-top:15px;
     float:right;
 }
.dashboard-post-profile-btn img
 {
      margin-left:10px;
 }
.dashboard-content
{
    margin-top:20px;
 }
.dashboard-content h1
 {
      margin-top:15px;
 }
.dashboard-content p
{
     margin-top:15px;
     padding:5px;
 }
.dashboard-content a
{
    float:right;
    color:#a0302f;
 }
.buttons
 {
      margin:20px 0;
 }
.btn-left-holder
 {
    background:  url(asset_path('left-holder-btn.png',image)) no-repeat;
    float:left;
    width:10px;
    height:41px;
 }
.btn-mid-holder
{
    background:  url(asset_path('mid-holder-btn.png',image)) repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    height: 40px;
    line-height: 37px;
    padding: 0 10px;
    font-weight:bold;
    }
.btn-right-holder
{    background:  url(asset_path('right-holder-btn.png',image)) no-repeat scroll 0 0 transparent;
     float:left;
     width:12px;
     height:41px;
     }
/*Basic info page*/
.reg-info p
{
    padding:5px;
 }
.basic-info h1
{
    color:#991514;
    font-weight:bold;
    font-size:20px;
}
.list-styles
 {
       background:  url(asset_path('basic-info-bars.png',image)) no-repeat ;
       float:left;
       margin-top:6px;
       width:319px;
       height:27px;
 }
.basic-info-small-bar1
 {
      background:  url(asset_path('basic-info-small-bars.png',image)) no-repeat ;
      float:left;
      width:147px;
      height:27px;
       }
.basic-info-small-bar2
 {
     background:  url(asset_path('basic-info-small-bars.png',image)) no-repeat ;
      float:left;
      width:147px;
      height:27px;
      margin-left:23px;
  }
.save-btn
{
     width:94px;
     height:40px;
     background-color:#a33332;
     float:right;
 }
.save-btn a
{
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    line-height:35px;
    float:left;
    width:94px;
 }
.terms-left-div
{
    width:50%;
    float:left;
}
.terms-right-div
{
    float:right;
    width:49%;
 }
.profile-input-type{
	float:left;
	width:100%;
}
.profile-input-type label {
    color: #474747;
    float: left;
    font-size: 14px;
    margin-top: 10px;
	margin-right:2%;
    width: 25%;
	margin-left:22px;
}
.profile-input-type input {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
    float: left;
    height: 26px;
    margin-top: 6px;
    width: 65%;
}
 .dashboard-info-content span
 {
      color:#a0302f;
    font-size:18px;
 }
 .dashboard-info-content h1
 {
      margin-top:30px;
 	float:left;
 }

 .basic-new-info-writting-img
 {
     margin-top:10px;
 	float:left;
 }
 .basic-new-info-publication-img
  {
    margin-top:10px;
 	float:left;
 }
 .basic-new-info-links
 {
    margin-left:8px;
 	float:left;
 	margin-top:30px;
 }
 .info-links
  {
       float:left;
  }
 .info-links a
 {
     text-decoration:none;
 }
 .basic-new-info-link-left
  {
    background:  url(asset_path('basic-new-info-links-left-img',image)) no-repeat ;
   float:left;
 	width:10px;
 	height:20px;
  }
 .basic-new-info-link-mid
 {
    background:  url(asset_path('basic-new-info-links-mid-img.png',image)) repeat-x ;
  	float:left;
 	height:20px;
 	width:245px;
 	padding:2px;
 }
 .basic-new-info-link-right
  {
    background:  url(asset_path('basic-new-info-links-right-img.png',image)) no-repeat ;
  	float:left;
 	width:10px;
 	height:20px;
 }
 .dashboard-info-content
  {
       width:100%;
      float:left;
  }
 .dashboard-right
  {
    margin-top:20px;
 	float:left;
 	width:50%;
  }
 .job-input label
  {
 	color: #474747;
 	float: left;
 	font-size: 14px;
 	margin-top: 10px;
 	width: 348px;
  }
 .job-input input
  {
    background:  url(asset_path('job-title-field.png',image)) no-repeat ;
 	width:320px;
 	height:27px;
 	margin-top:5px;
  }
 .job-input-description
  {
 	margin-top:10px;
 	float:left;
 }
 .job-input-description label
  {
 	color: #474747;
 	float: left;
 	font-size: 14px;
  }
 .job-input-description input
 {
    background:  url(asset_path('description-img.png',image)) no-repeat ;
  	width:320px;
 	height:137px;
 }
 .dashboard-right-right
  {
 	 float: left;
    margin-top: 20px;
    width: 49%;
  }
 .dashboard-right-right label
 {
 	color: #474747;
 	float: left;
 	font-size: 14px;
 	margin-top: 10px;
 }
 .dashboard-right-right input
 {
    background:  url(asset_path('job-title-field.png',image)) no-repeat ;
  	width:320px;
 	height:27px;
 	margin-top:5px;
 	float:left;
 }
 .job-input-country
 {
 	width:50%;
 	float:left;
 }
 .job-input-country input
  {
 	background:  url(asset_path('country-img.png',image)) no-repeat ;
 	width:132px;
 	height:27px;
 	float:left;
 }
 .job-input-country label
  {
      float:left;
  }
 .clear
  {
       clear:both;
  }
 .job-input-add
  {
       margin-top:20px;
  }
 .job-input-add label
  {
 	width:100%;
 	float:left;
  }
 .job-input-add input
  {
    background:  url(asset_path('job-title-field.png',image)) no-repeat ;
 	width:320px;
 	height:27px;
 	margin-top:5px;
 }
 .job-input-city
 {
       float:left;
 }
 .job-input-city label
  {
 	width:100%;
 	float:left;
 }
 .job-input-city input
  {
    background:  url(asset_path('reg-select-img.png',image)) no-repeat ;
  	width:179px;
 	height:27px;
 	float:left;
}
 .btn-save
  {
 	margin-top:10px;
 	float:right;
 	margin-right:20px;
 }
 .apply-left
  {
    background:  url(asset_path('apply-left.png',image)) no-repeat ;
  	width:14px;
 	height:37px;
 	float:left;
 }
 .apply-mid
 {
    background:  url(asset_path('apply-mid.png',image)) repeat-x ;
 	height:37px;
 	float:left;
 	color:#fff;
 	font-size:14px;
 	font-weight:bold;
 	padding-top:8px;
}
 .apply-right
  {
    background:  url(asset_path('apply-right.png',image)) no-repeat ;
  	width:14px;
 	height:37px;
 	float:left;
 }
 .dashboard-right-left
 {
     width:50%;
      float:left;
       margin-top:20px;
 }

 .job-input-select {
    padding: 5px;
    border: 1px solid #333;

 }