// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.adds-holder
 {
     margin-top:5px;
     margin-bottom:24px;
 }
.dashboard-info-image
{

}
.dashboard-content-right
 {
     width:696px;
      float:right;
 }
.dashboard-image
{
    background-color:#f1f1f1;
    height:117px;
    overflow:auto;
    margin-top:15px;
    width:278px;
    float:left;
 }
.dashboard-image img
{
     float:left;
     padding:10px;
}
.dashboard-image h1
 {
     color:#990000;
     font-size:24px;
      margin-top:20px;
 }
.dashboard-image p
 {
     color:#474747;
     font-size:12px;
 }
.dashboard-post-profile-btn
{
     margin-top:15px;
     float:right;
 }
.dashboard-post-profile-btn img
 {
      margin-left:10px;
 }
.dashboard-content
{
    margin-top:20px;
 }
.dashboard-content h1
 {
      margin-top:15px;
 }
.dashboard-content p
{
     margin-top:15px;
     padding:5px;
 }
.dashboard-content a
{
    float:right;
    color:#a0302f;
 }
.buttons
 {
      margin:20px 0;
 }
.btn-left-holder
 {
    background:  url(asset_path('left-holder-btn.png',image)) no-repeat;
    float:left;
    width:10px;
    height:41px;
 }
.btn-mid-holder
{
    background:  url(asset_path('mid-holder-btn.png',image)) repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    height: 40px;
    line-height: 37px;
    padding: 0 10px;
    font-weight:bold;
    }
.btn-right-holder
{    background:  url(asset_path('right-holder-btn.png',image)) no-repeat scroll 0 0 transparent;
     float:left;
     width:12px;
     height:41px;
     }
/*Basic info page*/
.reg-info p
{
    padding:5px;
 }
.basic-info h1
{
    color:#991514;
    font-weight:bold;
    font-size:20px;
}
.list-styles
 {
       background:  url(asset_path('basic-info-bars.png',image)) no-repeat ;
       float:left;
       margin-top:6px;
       width:319px;
       height:27px;
 }
.basic-info-small-bar1
 {
      background:  url(asset_path('basic-info-small-bars.png',image)) no-repeat ;
      float:left;
      width:147px;
      height:27px;
       }
.basic-info-small-bar2
 {
     background:  url(asset_path('basic-info-small-bars.png',image)) no-repeat ;
      float:left;
      width:147px;
      height:27px;
      margin-left:23px;
  }
.save-btn
{
     width:94px;
     height:40px;
     background-color:#a33332;
     float:right;
 }
.save-btn a
{
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    line-height:35px;
    float:left;
    width:94px;
 }
.terms-left-div
{
    width:50%;
    float:left;
}
.terms-right-div
{
    float:right;
    width:49%;
 }
.profile-input-type{
	float:left;
	width:100%;
}
.profile-input-type label {
    color: #474747;
    float: left;
    font-size: 14px;
    margin-top: 10px;
	margin-right:2%;
    width: 25%;
	margin-left:22px;
}
.profile-input-type input {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
    float: left;
    height: 26px;
    margin-top: 6px;
    width: 65%;
}
