// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-details-hold{
	float:left;
	width:100%;
	margin-top:20px;
}
.border{
    border-bottom: 1px dashed #990000;
    padding-bottom: 20px;
    }
   .groups-left{
	float:left;
	width:254px;
}
.groups-right{
	float:right;
	width:680px;
	margin-right:20px;
	margin-top:10px;
}
.groups-link{
	float:left;
	width:100%;
	margin-top:10px;
	list-style:none;
}
.groups-link li{
    float: left;
    width: auto;
}
.groups-link li a{
    background:  url(asset_path('groups-links-gray-bg.png',image)) no-repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 12px;
    height: 16px;
    margin-bottom: 4px;
    padding: 2px 10px;
    text-decoration: none;
    width: 254px;
}
.act-group a, .groups-link li a:hover{
    background:  url(asset_path('group-act.png',image)) no-repeat scroll 0 0 transparent!important;
	color:#fff!important;
}
.groups-heading-hold{
	float:left;
	width:338px;
}
.groups-heading-hold h1{
	float:left;
	width:100%;
	font-size:18px;
	color:#991514;
	font-weight:bold;
}
.groups-heading-hold p{
	float:left;
	width:100%;
	font-size:14px;
	color:#747474;
}
.join-group-hold{
	float:right;
	width:auto;
}
.join-group-hold a {
    background:  url(asset_path('findjob-bg.png',image)) repeat-x scroll 0 0 transparent;
    border: 1px solid #7B0C26;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 4px 17px;
    text-decoration: none;
}
.grpup-img-hold {
    border: 1px solid #000000;
    float: left;
    height: 102px;
    width: 102px;
}
.grpup-img-details-hold {
    color: #333333;
    float: right;
    font-size: 12px;
    line-height: 18px;
    width: 392px;
}
.groups-line{
    background:  url(asset_path('groups-line.png',image)) no-repeat scroll 0 0 transparent;
    float: left;
    height: 8px;
    width: 100%;
}
.group-cont-hold{
	float: left;
    margin-left: 10px;
    width: 584px;
}
.group-result-holder{
    float: left;
    margin-top: 20px;
    width: 100%;
}
.group-day {
    color: #4C4C4C;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    width: 10%;
}

.job-heading-hold{
	background:  url(asset_path('job-bg.png',image)) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    margin-top: 15px;
    text-align: center;
    width: 215px;
}
.admin-hold{
	float:left;
	width:100%;
	margin-top:20px;
}
.admin-top-hold{
	float:left;
	width:100%;
	height:42px;
    background:  url(asset_path('admin-top-bg.png',image)) no-repeat scroll 0 0 transparent;
}
.admin-top-hold h1{
	color: #EFEFEF;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 33px;
    padding-left: 16px;
    width: 90%;
}
.admin-mid-hold{
	float:left;
	width:100%;
	height:auto;
    background:  url(asset_path('admin-mid-bg.png',image)) repeat-y scroll 0 0 transparent;
}
.admin-bot-hold{
	float:left;
	width:100%;
	height:16px;
    background:  url(asset_path('admin-bot-bg.png',image)) no-repeat scroll 0 0 transparent;
}
.admin-name{
	float:left;
	width:100%;
	text-align:center;
	font-size:16px;
	color:#991514;
	font-weight:bold;
}
.admin-link{
	float:left;
	width:100%;
}
.admin-link a{
   background: url("/assets/red-arrow-icon.png") no-repeat scroll left 3px transparent;
    color: #474747;
    float: left;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 10px;
    padding-left: 14px;
    text-decoration: underline;
}
.admin-profile{
	float: left;
    margin-left: 17px;
    margin-top: 10px;
    width: 95%;
}
.admin-profile-left{
	width:38px;
	height:38px;
	float:left;
	border:1px solid #000;
	margin-right:10px;
}
.admin-profile-right{
	float:left;
	width:140px;
}
.admin-profile-right h1{
	float:left;
	width:100%;
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.admin-profile-right p{
	float:left;
	width:100%;
	font-size:14px;
	color:#000;
	font-weight:normal;
}
.group-links{
	float: left;
    list-style: none outside none;
    margin-bottom: -1px;
    margin-left: 3px;
    width: 100%;
}
.group-links li{
	float:left;
	width:auto;
}
.group-links li a{
	background: none repeat scroll 0 0 #EEEEEE;
    color: #9B9B9B;
    float: left;
    font-size: 16px;
    margin-right: 6px;
    padding: 3px 15px;
    text-decoration: none;
}
.group-link-act a, .group-links li a:hover{
	background: none repeat scroll 0 0 #952323 !important;
	color:#fff !important;
}
.post-hold{
	border-bottom: 1px dashed #990000;
    float: left;
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}
.post-left-hold{
	float:left;
	border:1px solid #000;
	width:102px;
	height:102px;
	margin-right:15px;
}
.post-right-hold {
	float:left;
	width:506px;
    background:  url(asset_path('post-bg.png',image)) no-repeat scroll 0 0 transparent;
	height:103px;
}
.post-right-hold textarea{
    background: url("/assets/textarea-bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 44px;
    margin-left: 23px;
    margin-top: 10px;
    width: 467px;
}
.post-right-hold a{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #9E2E2C;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
    margin-top: 5px;
    padding: 2px 7px;
    width: auto;
    text-decoration: none;
}
.post-cont-hold{
	float:left;
	width:380px;
}
.post-cont-hold h1{
	float:left;
	width:100%;
	font-size:14px;
	color:#9e2e2c;
	font-weight:bold;
}
.post-cont-hold p{
	float:left;
	margin-top:10px;
	width:100%;
	font-size:14px;
	color:#000;
}
.post-cont-hold p a{
	color:#0066cc;
	font-size:13px;
	font-style:italic;
	text-decoration:underline;
}
.post-cont-hold p a:hover{
	text-decoration:none;
}
.like-hold{
	float:left;
	margin-top:10px;
	width:100%;
	font-size:14px;
	color:#000;
}
.like-hold a{
	color:#0066cc;
	font-size:14px;
	text-decoration:underline;
}
.like-hold a:hover{
	text-decoration:none;
}
.groups-jobs-left{
	float:left;
	width:219px;
}
.groups-link li a {
    background:  url(asset_path('groups-links-gray-bg.png',image)) no-repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 12px;
    height: 16px;
    margin-bottom: 4px;
    padding: 2px 10px;
    text-decoration: none;
    width: 194px;
}
.post-right-cont-hold{
	float:right;
	width:214px;
	margin-top:15px;
	margin-right:20px;
}

.groups-mid-cont{
	width:510px;
	float:left;
	margin-top:15px;
	margin-left:20px;
}

.job-cont-hold {
    float: left;
    width: 509px;
}

