// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
  border: none; }

body {
  font-size: 14px;
  color: #666;
  font-family: Arial;
  background: none scroll 0 0 #fff; }

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 20px;
  color: #000000; }

h2 {
  font-size: 18px;
  color: #666666; }

h4 {}

p {
  font-size: 14px;
  color: #848587;
  line-height: 17px; }

img {
  border: none; }

a {
  color: #000000; }

.wrapper {
  margin: 0 auto;
  width: 1000px; }

.topline {
  float: left;
  width: 100%;
  background: #991514;
  height: 6px; }

.logo {
  float: left;
  width: 440px;
  img {
    float: left; } }

.language {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
  width: 109px;
  label {
    float: left;
    font-size: 12px;
    color: #474747;
    margin-right: 5px; }
  img {
    float: left;
    margin-right: 4px; } }

.jobs-holder {
  float: left;
  width: 446px;
  list-style: none;
  li {
    float: left;
    width: auto;
    a {
      color: #991514;
      float: left;
      font-size: 16px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      text-decoration: none;
      width: 111px; } } }

.active a, .jobs-holder li a:hover {
    background: none repeat scroll 0 0 #991514;
    border-radius: 0 0 5px 5px;
	  -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    color: #FFFFFF !important;
 }

.banner-holder {
  float: left;
  width: 100%;
  margin-top: 37px; }

.banner-left-holder {
  float: left;
  background: url(asset_path('banner-left-bg.png',image)) no-repeat;
  width: 9px;
  min-height: 359px; }

.banner-mid-holder {
  float: left;
  background: url(asset_path('banner-mid-bg.png',image)) repeat-x;
  width: 981px;
  min-height: 359px; }

.banner-right-holder {
  float: left;
  background: url(asset_path('banner-right-bg.png',image)) no-repeat;
  width: 9px;
  min-height: 359px; }

.banner-left {
  float: left;
  margin-left: 11px;
  margin-top: 37px;
  width: 600px;
  h1 {
    float: left;
    width: 100%;
    font-size: 33px;
    color: #000;
    text-transform: uppercase; }
  h2 {
    float: left;
    width: 100%;
    font-size: 33px;
    color: #000; }
  p {
    color: #000000;
    float: left;
    font-size: 16px;
    margin-top: 23px;
    width: 100%; } }

.post-resume {
  float: left;
  margin-left: 6px;
  margin-top: 20px;
  width: auto;
  .post-left{
	  background:url(asset_path('btn-left.png',image)) no-repeat;
	  width:14px;
	  height:47px;
	  float:left;
  }
  .post-mid{
	  background:url(asset_path('btn-mid.png',image)) repeat-x;
		width:auto;
		line-height:47px;
		font-size:18px;
		font-weight:bold;
		color:#fff;
		height:47px;
		float:left;
		padding:0 10px;
	}
	.post-right{
		background:url(asset_path('btn-right.png',image)) no-repeat;
		width:14px;
		height:47px;
		float:left;
	}
 }

.banner-right {
  float: right;
  margin-right: 7px;
  margin-top: -20px;
  width: 320px; }

.job-search-top-holder {
  background: url(asset_path('banner-right-top-bg.png',image)) no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  float: left;
  font-size: 20px;
  height: 53px;
  line-height: 43px;
  padding-left: 20px;
  width: 300px; }

.job-search-mid-holder {
  background: url(asset_path('banner-right-mid-bg.png',image)) repeat-y scroll 0 0 transparent;
  float: left;
  height: auto;
  padding: 0 26px 48px;
  width: 269px; }

.job-search-bot-holder {
  float: left;
  width: 320px;
  height: 16px;
  background: url(asset_path('banner-right-bot-bg.png',image)) no-repeat; }

.input-holder {
  float: left;
  width: 100%;
  label {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #474747;
    margin-top: 10px; }
  input {
    float: left;
    margin-top: 6px;
    width: 100%;
    height: 26px;
    background: #f6f6f6;
    border-top: 1px solid #949494; } }

.select-holder {
  float: left;
  width: 100%;
  margin-top: 10px;
  label {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #474747; } }

.slt-div {
  &:hover .slt-cat-hold {
    display: block!important; }
  float: left;
  margin-top: 6px;
  width: 100%;
  height: 27px;
  background: url(asset_path('select-bg.png',image)) no-repeat; }

.slt-cat-hold {
  display: none;
  float: left;
  width: 100%;
  list-style: none;
  li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #949494;
    color: #404040;
    float: left;
    line-height: 28px;
    padding-left: 8px;
    width: 97.5%;
    a {
      text-decoration: none;
      color: #404040; } } }

.mtop9 {
  margin-top: 9px; }

.advanced-search {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
  font-style: italic;
  float: left; }

.findjob {
  float: right;
  margin-top: 10px;
  a {
    background: url(asset_path('findjob-bg.png',image)) repeat-x scroll 0 0 transparent;
    border: 1px solid #7B0C26;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    text-decoration: none; } }

.content-holder {
  float: left;
  width: 100%;
  margin-top: 10px; }

.content-left-holder {
  float: left;
  width: 633px;
  margin-left: 10px; }

.content-right-holder {
  float: right;
  width: 325px; }

.search-by-name {
  color: #474747;
  float: left;
  font-family: "Myriad Pro";
  font-size: 20px;
  margin-right: 39px; }

.w100 {
  float: left;
  width: 100%; }

.tab-holder {
  float: left;
  width: auto;
  margin-right: 6px; }

.tab-left-holder {
  background: url(asset_path('tab-left.png',image)) no-repeat;
  width: 4px;
  height: 30px;
  float: left; }

.tab-mid-holder {
  background: url(asset_path('tab-mid.png',image)) repeat-x scroll 0 0 transparent;
  color: #9B9B9B;
  float: left;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  width: auto;
  a{
    text-decoration :none;
    color: #9B9B9B !important;
  }
 }

.tab-right-holder {
  background: url(asset_path('tabs-right.png',image)) no-repeat;
  width: 4px;
  height: 30px;
  float: left; }

.active {
  .tab-left-holder {
    background: url(asset_path('tab-left-act.png',image)) no-repeat; }
  .tab-mid-holder {
    background: url(asset_path('tab-mid-act.png',image)) repeat-x;
    color: #fff!important;
    a{
      text-decoration :none;
      color: #fff!important;
    } 
    }
  .tab-right-holder {
    background: url(asset_path('tabs-right-act.png',image)) no-repeat; } }

.tabs-line {
  background: url(asset_path('links-bot.png',image)) no-repeat scroll 0 0 transparent;
  float: left;
  height: 8px;
  margin-top: -1px;
  width: 100%; }

.job-holder {
  float: left;
  width: 100%;
  list-style: none;
  li {
    float: left;
    width: 97%;
    a {
      background: url(asset_path('red-arrow-icon.png',image)) no-repeat scroll left center transparent;
      border-bottom: 1px solid #DDDDDD;
      color: #474747;
      float: left;
      font-size: 14px;
      padding-bottom: 6px;
      padding-left: 3%;
      padding-top: 6px;
      text-decoration: none;
      width: 97%; } }
  .selected {
    background: url(asset_path('selected-bg.png',image)) no-repeat scroll 0 0 transparent;
    margin-left: -8px;
    padding-left: 11px;
    a {
      color: #fff;
      font-weight: bold; } } }

.popular-vacancies {
  float: left;
  width: 100%;
  h1 {
    float: left;
    width: 100%;
    font-family: "myriad Pro";
    font-size: 18px;
    color: #666;
    font-weight: bold; } }

.red {
  color: #952323; }

.cloud {
  float: left;
  margin-left: 8px;
  margin-top: 23px;
  width: 100%;
  img {
    float: left; } }

.mto37 {
  margin-top: 37px !important; }

.featured-link {
  float: left;
  width: 100%;
  margin-top: 20px;
  list-style: none;
  li {
    background: url(asset_path('fetur-project-bg.png',image)) no-repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin-bottom: 4px;
    width: 294px;
    a {
      background: url(asset_path('white-arrow-icon.png',image)) no-repeat scroll left center transparent;
      color: #FFFFFF;
      float: left;
      font-size: 12px;
      margin-left: 5%;
      margin-top: 2px;
      padding-left: 5%;
      text-decoration: none;
      width: 89%; } } }

.companies {
  float: left;
  width: 100%;
  margin-top: 20px;
  img {
    float: left; } }

.gray-holder {
  margin-left: 292px;
  margin-top: 27px;
  position: absolute;
  width: 322px; }

.inner-links {
  float: left;
  list-style: none;
  background: none scroll 0 0 #747474;
  padding: 13px 20px;
  width:282px;
  li {
    float: left;
    width: 100%;
    a {
      background: none;
      float: left;
      width: 100%;
      font-size: 12px;
      color: #fff;
      padding: 5px 0;
      border-bottom: 1px solid #fff; } } }

.gray-bot-bg {
  background: url(asset_path('gray-bot-bg.png',image)) no-repeat;
  float: left;
  width: 322px;
  height: 12px; }

.post-left {
  background: url(asset_path('btn-left.png',image)) no-repeat;
  width: 14px;
  height: 47px;
  float: left; }

.post-mid {
  background: url(asset_path('btn-mid.png',image)) repeat-x;
  width: auto;
  line-height: 47px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  height: 47px;
  float: left;
  padding: 0 10px; }

.post-right {
  background: url(asset_path('btn-right.png',image)) no-repeat;
  width: 14px;
  height: 47px;
  float: left; }