.tittle {
        border-bottom: 1px solid #cccccc;
        padding: 20px 0;
        text-align: center;
        color: #333333;
        font-size: 22px;
        font-weight: bold;
    }


    .profile-input textarea {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
    float: left;
    height: 150px;
    margin-top: 6px;
    width: 60%;

}

    .profile-input-new textarea {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
    float: left;
    height: 100px;
    margin-top: 6px;
    width: 60%;

}


.profile-left-div-new {
  float: left;
  width: 490px;
   }
.add-button{
   float: right;
    margin-right: -4px;
    margin-top: 9px;
    width: auto;
   }
   .add-button img {
   float: right;
    margin-left: 3px;
    width: 19px;
    }
    .add-button a:hover{
    text-decoration: none;

    }
    .profile-input-hold {
    float: left;
    width: 100%;
}
.profile-input-hold label {
    color: #474747;
    float: left;
    font-size: 14px;
    margin-left: 22px;
    margin-right: 2%;
    margin-top: 10px;
    width: 25%;
}
.profile-input-hold textarea {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
    float: left;
    height: 100px;
    margin-top: 6px;
    width: 60%;
}

   .save-button input[type="submit"] {
    background: url(asset_path('reg-me.png',image)) repeat-x scroll 0 0 transparent;
    /*background:  url(asset_path('findjob-bg.png',image)) repeat-x scroll 0 0 transparent;*/
    /*background: url("/assets/findjob-bg.png") repeat-x scroll 0 0 transparent;*/
    border: 1px solid #7B0C26;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    text-decoration: none;
    padding-bottom: 10px;
    }
  /*Datepickerrrrrrrrrrrrrrr*/
  a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(asset_path('calendar-icon.png',image)) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left; }