 .tittle {
        border-bottom: 1px solid #cccccc;
        padding: 20px 0;
        text-align: center;
        color: #333333;
        font-size: 22px;
        font-weight: bold;
    }


    .profile-input textarea {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
    float: left;
    height: 150px;
    margin-top: 6px;
    width: 60%;
}