// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-heading-detail {
/*width: 700px;*/
  width: 674px;
  height: 20px;
  margin-top: 15px;
  background-color: #991514;
  float: left;
}

.c-status {
  width: 45px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #fff;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-from {
  width: 280px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #fff;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-subject {
  width: 292px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #fff;
  padding-bottom: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-date {
/*width: 110px;*/
  width: 84px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #fff;
  padding-bottom: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-read-unread {
  width: 100px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #fff;
  padding-bottom: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.top-heading-detail-two {
  width: 700px;
  height: 25px;
  background-color: #fefefe;
  float: left;
}

.c-status-two {
  width: 45px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #991514;
  padding-top: 5px;
  text-align: left;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-from-two {
  width: 280px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #991514;
  padding-top: 5px;
  text-align: left;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-subject-two {
  width: 292px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #991514;
  padding-top: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-date-two {
/*width: 110px;*/
  width: 84px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #991514;
  padding-top: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.c-read-unread-two {
  width: 100px;
  float: left;
  border-bottom: 1px solid #ccc;
  color: #991514;
  padding-top: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.check-mail {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.sender {
  float: left;
  width: 50%;
}

.time-info {
  float: right;
}

.subject {
  width: 100%;
  float: left;
  margin-top: 5px;
}

.mail-body {
  float: left;
  width: 80%;
  margin-left: 25px;
  margin-top: 10px;
}
