// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-left-div {
  float: left;
  width: 490px;
}

.profile-right-div {
  float: right;
  width: 490px;
}

.profile-input {
  float: left;
  width: 100%;
  .slt-div, .slt-sub-div {
    float: left;
    margin-top: 6px;
    width: 60%;
    height: 26px;
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #949494;
  }
  label {
    color: #474747;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 1%;
    width: 30%;
    margin-left: 22px;
  }
  input {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #949494;
    float: left;
    height: 26px;
    margin-top: 6px;
    width: 60%;
  }
}

.red-btn-new {
  border-bottom: 1px solid #CCCCCC;
  float: right;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  a {
  /*background: url("../images/red-btn.png") repeat-x scroll 0 0 transparent;*/
    background: url(asset_path('red-btn.png' ,image)) repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    text-decoration: none;
  }
}

/************************** profile details   ****************************/

.p-holder {
  float: left;
  width: 100%;
}

.profile-left {
  float: left;
  margin-right: 50px;
  width: 142px;
/*img {*/
/*border: 5px solid #A8A8A8;*/
/*float: left;*/
/*width: 138px; } }*/
  img {

    border: 5px solid #A8A8A8;
    float: left;
    height: 128px;
    width: 126px;

  }

}

.profile-right {
  float: left;
  width: 700px;
  h1 {
    color: #2A2924;
    float: left;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }
  p {
    color: #2A2924;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 20px;
    width: 100%;
  }
  h2 {
    color: #2A2924;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
  }
  h3 {
    color: #2A2924;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    width: 100%;
    a {
      color: #2A2924;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.p-bot {
  border-bottom: 1px solid #808080;
  padding-bottom: 5px;
}

.profile-holder {
  float: left;
  margin-top: 50px;
  width: 100%;
}

.profile-name-heading {
  color: #2A2924;
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 140px;
}

.profile-name-content {
  color: #2A2924;
  float: left;
  font-size: 14px;
  width: 760px;
}

.profile-edit {
  color: #2A2924;
  float: left;
  font-size: 14px;
  text-align: right;
  width: 40px;
}

.profile-cont {
  border-bottom: 1px solid #808080;
  float: left;
  padding: 5px 0;
  width: 100%;
}

.red-btn {
  float: right;
  margin-top: 30px;
  width: 100%;
  a {
  /*background: url("../images/red-btn.png") repeat-x scroll 0 0 transparent;*/
    background: url(asset_path('red-btn.png' ,image)) repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    text-decoration: none;
  }
}

.slt-div {
  float: left;
  margin-top: 6px;
  width: 269px;
  height: 27px;
/*background: url(../images/select-bg.png) no-repeat;*/
  background: url(asset_path('select-bg.png' ,image)) no-repeat;

}

.slt-cat-hold {
  display: none;
  float: left;
  width: 100%;
  list-style: none;
  li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #949494;
    color: #404040;
    float: left;
    line-height: 28px;
    padding-left: 8px;
    width: 97.5%;
    a {
      text-decoration: none;
      color: #404040;
    }
  }
}

#job-seeker-profile {
  .info-container {
    float: left;
    height: auto;
    width: 100%;
    .info-box {
      border-bottom: 2px solid #666666;
      float: left;
      margin: auto;
      margin-top: 10px;
      padding-bottom: 20px;
      width: 100%;
      .info-detail {
        float: left;
        width: 100%;
        margin-left: 50px;
        label {
          color: #991514;
          float: left;
          font-size: 14px;
          font-weight: bold;
          line-height: 25px;
          padding: 5px;
          width: 20%;
        }
        .value {
          float: left;
          line-height: 25px;
          padding: 5px;
          width: 70%;
        }
      }
    }
  }

  .tabs_wrapper {
    width: 100%;
    float: left;

  }
  .tabs_wrapper .active .tabs_left {
    background-image: url(asset_path('tabs_left2.png' ,image));
  }
  .tabs_wrapper .active .tabs_right {
    background-image: url(asset_path('tabs_right2.png' ,image));
  }
  .tabs_wrapper .active .tabs_center {
    background-image: url(asset_path('tabs_center2.png' ,image));
    color: #fff;

  }
  .tabs_wrapper .active .tabs_center p {
    color: #fff;

  }

  .tabs {
    float: left;
    list-style: none outside none;
    margin-right: -29px;
    margin-top: 12px;
    width: auto;
    position: relative;
    cursor: pointer !important;
  }

  .tabs_left {
    background-image: url(asset_path('tabs_left1.png' ,image));
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 62px;
    width: 6px;
  }
  .tabs_right {
    background-image: url(asset_path('tabs_right1.png' ,image));
    background-repeat: no-repeat;
    float: left;
    height: 62px;
    width: 35px;
  }
  .tabs_center {
    background: url(asset_path('tabs_center1.png' ,image)) repeat-x scroll 0 0 transparent;
    float: left;
    padding: 8px 12px 0 20px;
    width: auto;
    height: 63px;

  }
  .tabs_center p {
    color: #666666;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    padding: 10px;
    width: auto;
  }
  #basic_information {
    float: left;
    z-index: 100;
  }
  #education_details {
    float: left;
    z-index: 99;
  }
  #professional_experience {
    float: left;
    z-index: 98;

  }
  #additional_information {
    float: left;
    z-index: 97;
  }
  .basic-save {
    margin-right: 25px !important;
  }
}

.add-button-new {
  float: left;
  width: 100%;
  a {
    background: url(asset_path('reg-me.png' ,image)) repeat-x scroll 0 0 transparent;
  /*background:  url(asset_path('findjob-bg.png',image)) repeat-x scroll 0 0 transparent;*/
  /*background: url("/assets/findjob-bg.png") repeat-x scroll 0 0 transparent;*/
    border: 1px solid #7B0C26;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

.profile_info_new {
  float: left;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%
}

.profile_info_new h2 {
  margin-bottom: 5px;
}

.profile_edu_info {
  float: left;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%
}

.profile_edu_info h2 {
  margin-bottom: 5px;
}

.profile_prof_info {
  float: left;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%
}

.profile_prof_info h2 {
  margin-bottom: 5px;
}

.profile-name-heading-new {
  color: #2A2924;
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 216px;
}

.add-button-new-butt {
  float: right;

  background: url(asset_path('reg-me.png' ,image)) repeat-x scroll 0 0 transparent;
/*background:  url(asset_path('findjob-bg.png',image)) repeat-x scroll 0 0 transparent;*/
/*background: url("/assets/findjob-bg.png") repeat-x scroll 0 0 transparent;*/
  border: 1px solid #7B0C26;
  color: #FFFFFF;
  float: right;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;

}
.button-add-new {

  padding: 0 10px;
  background: #991514;
  float: left;
  }

.question-button-new {
    background-color: #9C2C2A;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    width: 147px;
}

.salary-info { float:left; width:100%; margin-left:22px;}
.salary-info span { float:left; width:28%;   margin-top:14px; color: #474747; }
.salary-info input { background: none repeat scroll 0 0 #F6F6F6; border-top: 1px solid #949494; float: left; height: 26px; margin-top: 6px; padding-left: 5px;width: 22%; margin-right:10px;}
.salary-info p { float:left; padding:0; margin-top:10px; margin-right:10px; margin-left:0px;}
 .money-type select { float:left; margin-right:10px; margin-top:10px; border:1px solid #ccc;}
 .money-type1 select { float:left; margin-right:-1px; margin-top:10px; border:1px solid #ccc;}
 .big-select {

    float: left;
    height: 27px;
    margin-top: 5px;
    padding-left: 5px;
    width: 296px;
}

.new-profile-input {
    float:left;
     width:100%;
     }
.new-profile-input label{
     color: #474747;
  float: left;
  font-size: 14px;
  margin-top: 10px;
  margin-right:2%;
  width: 200px;
  margin-left:22px;
   }
.new-profile-input input {
     background: none repeat scroll 0 0 #F6F6F6;
     border-top: 1px solid #949494;
     float: left;
      height: 26px;
      margin-top: 6px;
       width: 250px;
        padding-left:5px;
         }
 .new-profile-input select {
     background: none repeat scroll 0 0 #F6F6F6;
     border-top: 1px solid #949494;
     float: left;
      height: 26px;
      margin-top: 6px;
       width: 250px;
        padding-left:5px;
    }

  .condition-left { width:499px; float:left; }
  .condition-left input  { float:left; margin-right:10px;  }
  .condition-left span { margin-bottom:10px; float:left; width:44%; color: #474747;}

  .radio-label-two { float: left;
    margin-top: 6px;
    width: 132px;

  }
  .radio-label-two input {
    float: left;
    margin-right: 7px;
    width: 10px;
}
.radio-label-two label {
    float: left;
    margin-left: 0;
    margin-top: 5px;
    width: 73%;
}


.contratc_field_detail {
    float: left;
    height: 62px;
    width: 525px;}
.fields_with_label { width: 100%; float:left; margin-top:25px;}
.fields_with_label label { width:200px; float:left;}
.fields_with_label select {

     float: left;
      height: 26px;
      margin-top: 6px;
       width: 280px;
        padding-left:5px;}

        .add-button_three {
   float: right;
    margin-right: -4px;
    margin-top: 9px;
    width: auto;
   }
   .add-button_three img {
    float: right;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0px;
    width: 19px;
    }




.add-button1{
   float: right;
    margin-right: -4px;
    margin-top: 9px;
    width: auto;
   }
   .add-button1 img {
   float: right;
    margin-left: -1px;
    margin-right: -25px;
    margin-top: -1px;
    width: 19px
    }
    .add-button1 a:hover{
    text-decoration: none;

    }

    .add-button-two1{
   float: right;
    margin-right: -4px;
    margin-top: 9px;
    width: auto;
   }
   .add-button-two1 img {
    float: left;
    margin-left: 0;
    margin-right: -1px;
    margin-top: -1px;
    width: 19px;
    }
    .add-button-two1 a:hover{
    text-decoration: none;

    }
    .profile-left-div_detail { float: left; width: 100%;}


.salary-info_one { float:left; width:100%; margin-left:22px;}
.salary-info_one span { float:left; width:225px;   margin-top:14px; color: #474747; }
.salary-info_one input { background: none repeat scroll 0 0 #F6F6F6; border-top: 1px solid #949494; float: left; height: 26px; margin-top: 6px; padding-left: 5px;width: 22%; margin-right:10px;}
.salary-info_one p { float:left; padding:0; margin-top:10px; margin-right:10px; margin-left:0px;}

 .condition-left_one { width:499px; float:left; }
  .condition-left_one input  { float:left; margin-right:10px;  }
  .condition-left_one span { margin-bottom:10px; float:left; width:248px; color: #474747;}


   .contract-field-new1 {
 float: left;
    margin-right: 2%;
    margin-top: 20px;
    width: 478px;
}

.contract-field-new1 label {
  color: #474747;
    float: left;
    font-size: 14px;
    margin-left: 22px;
    margin-right: 2%;
    margin-top: 10px;
    width: 215px;
}

.contract-field-new1 select {
  background: none repeat scroll 0 0 #F6F6F6;
    float: left;
    font-size: 14px;
    height: 27px;
    margin-top: 5px;
    width: 220px;
}

.reg-location-holder-two{

    width:100%;
     float:left;

     .slt-div, .slt-sub-div {
    float: left;
    margin-top: 6px;
    width: 22%;
    margin-right: 2%;
    height: 26px;
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #949494;
  }


  label{
       color: #474747;
      float: left;
      font-size: 14px;
      margin-left: 22px;
      margin-right: 2%;
      margin-top: 10px;
      width: 200px;

  }

}
