<%= form_tag '/profiles/create_job_seeker_professional_experience', :id =>"profile-form" do |f| %>
	<div class="basic-info mtop10">
		<h1>Professional<span class="red"> Experience</span></h1>
		<%= image_tag asset_path 'basic-info-bot-bar.png' %>
	</div>
	<div id="form-errors"></div>
	<%= hidden_field_tag :profile_id, @profile.id %>

	<div class="save-button-new"><%= button_to "Save and Next","javascript:void(0);", :id => "next-link" %></div>
<%end%>

<script type="text/javascript">

			$(".tabs").each(function(){
				$(this).removeClass("active");
			});

			$("#professional_experience").addClass("active");

</script>