<div id="basic_information" class="tabs active">
	<div class="tabs_left"></div>
	<div class="tabs_center"><p><%= t('profile_basic_information') %></p></div>
	<div class="tabs_right"></div>
</div>
<div id="education_details" class="tabs">
	<div class="tabs_left"></div>
	<div class="tabs_center"><p><%= t('profile_edu_information') %></p></div>
	<div class="tabs_right"></div>
</div>
<div id="professional_experience" class="tabs">
	<div class="tabs_left"></div>
	<div class="tabs_center"><p><%= t('profile_profession_information') %></p></div>
	<div class="tabs_right"></div>
</div>
<div id="additional_information" class="tabs">
	<div class="tabs_left"></div>
	<div class="tabs_center"><p><%= t('profile_search_resume') %> </p></div>
	<div class="tabs_right"></div>
</div>