<%  [:alert, :notice, :error].select{|type| !flash[type].blank?}.each do |type|   %>
	<% if type == [:alert]%>
        <div class = "<%= type %>" style="padding-top: 50px;position: absolute;top: 312px;width: 74%;" >
		<p>
			<%= flash[type] %>
		</p>
	</div>

   <% else %>
    <div class = "<%= type %>" >
		<p>
			<%= flash[type] %>
		</p>
	</div>
    <% end %>
<%end%>